@import "fonts";
@import "~video-react/styles/scss/video-react";

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000000;
}

.modal-backdrop {
    background-color: #333333;
}

.modal-dialog {
    max-width: 960px;
    margin: 109px auto;
}
.modal-backdrop.show {
    opacity: 1;
}

.modal-item {
    .modal-content {
        background-color: transparent;
        border: 0;
        
        .modal-body {
            padding: 26px;

            .header-area {
                display: flex;
    
                h1.title {
                    color: #FFFFFF;
                    font-family: Helvetica;
                    font-size: 35px;
                    letter-spacing: -0.84px;
                    line-height: 42px;
                    opacity: 0.75;
                    flex: 1;
                }
                .btn-close {
                    background-color: transparent;
                    border: 0;
                    outline: none;
                }
            }
            #video-player {
                width: 100%;
            }
        }
    }
}

.modal-add, .modal-edit {
    button {
        background-color: transparent;
        border: 0;
        outline: none;
    }
    .btn-add {
        background-color: #784CC0;
        border-radius: 3px;
        color: #FFFFFF;
        font-family: Helvetica;
        font-size: 14px;
        letter-spacing: 0.11px;
        line-height: 17px;
        display: flex;
        align-items: center;
        padding: 10px;

        .icon-check {
            background: url("../assets/img/check.svg") no-repeat 15% 50%;
            width: 22px;
            height: 17px;
            margin-right: 10px;
        }
    }
    .header-area {
        display: flex;
        align-items: center;
        margin-bottom: 46px;

        h3.title {
            color: #000000;
            font-family: Helvetica;
            font-size: 24px;
            letter-spacing: -0.58px;
            line-height: 29px;
            opacity: 0.75;
            text-align: left;
            flex: 1;
        }
    }
    input, textarea, select {
        width: 100%;
    }
    .text-red {
        color: #FF0000;
    }
    .form-area {
        position: relative;
        top: 0;
        bottom: 0;
        margin-bottom: 30px;

        input, textarea {
            border: 1px solid #CECED2;
            border-radius: 3px;
            width: 100%;
            padding: 19px 0 18px 9px;
            position: relative;
            background: transparent;
            z-index: 1;
            outline: 0;

            &:focus {
                background-color: #FFFFFF;
                border: 1px solid #83838D;
                border-radius: 3px;
                box-shadow: 0 1px 5px 0 rgba(57, 24, 245, 0.9);
                outline: 0;
                padding: 26px 0 11px 9px;
                color: #000000;
            }

            &:focus + label {
                font-size: 12px;
                padding: 7px 0 5px 9px;
                z-index: 2;
            }

            &:valid:not(:focus) {
                padding: 26px 0 11px 9px;
            }

            &:valid:not(:focus) + label {
                font-size: 12px;
                padding: 7px 0 5px 9px;
                z-index: 2;
            }
        }

        label {
            transition: // not padding
                background 0.2s,
                color 0.2s,
                top 0.2s,
                bottom 0.2s,
                right 0.2s,
                left 0.2s;
            color: #000000;
            font-family: Helvetica;
            font-size: 16px;
            letter-spacing: 0.13px;
            opacity: 0.3;
            position: absolute;
            left: 0;
            padding: 19px 0 18px 9px;
        }

        
        .select-style {
            border: 1px solid #CECED2;
            width: 100%;
            border-radius: 3px;
            overflow: hidden;
            background: #FFFFFF url("../assets/img/dropdown.svg") no-repeat 98% 50%;
            
            select {
                padding: 26px 0 11px 9px;
                width: 100%;
                border: none;
                box-shadow: none;
                background: transparent;
                background-image: none;
                -webkit-appearance: none;

                &:focus {
                    outline: none;
                    padding: 26px 0 11px 9px;
                    background-color: #FFFFFF;
                    border: 1px solid #83838D;
                    border-radius: 3px;
                    box-shadow: 0 1px 5px 0 rgba(57, 24, 245, 0.9);
                }
            }

            + label {
               top: -15px;
               font-size: 12px;
            }
        }
    }
}

.icon-list-area {
    display: flex;
    
    button {
        border: 1px solid #CECED2;
        border-radius: 3px;
        opacity: 0.4000000059604645;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;

        + button {
            margin-left: 15px;
        }

        &:hover, &:focus {
            border: 1px solid #000000;
            > i {
                opacity: 1;
            }
        }
    }
    .btn-heart-active {
        opacity: 1;
        border: 1px solid #FF0000;
    }

    .icon-heart {
        background: url('../assets/img/heart.svg') no-repeat left top;
        width: 22px;
        height: 20px;
        display: block;
        opacity: .3;
    }
    .icon-heart-active {
        background: url('../assets/img/heart-active.svg') no-repeat left top;
        width: 22px;
        height: 20px;
        display: block;
        opacity: .3;
    }
    .icon-trash {
        background: url('../assets/img/trash-bin.svg') no-repeat left top;
        width: 20px;
        height: 20px;
        display: block;
        opacity: .3;
    }
    .icon-pen {
        background: url('../assets/img/pen.svg') no-repeat left top;
        width: 20px;
        height: 18px;
        display: block;
        opacity: .3;
    }
}